speech_to_controller_integration/speech_to_controller_integration_node_rhasspy_flows/_data/.flows.json.backup
[{"id":"70d90eed.9fc7e8","type":"tab","label":"Rhasspy Intent","disabled":false,"info":""},{"id":"70124295.5e68f4","type":"tab","label":"Rhasspy Wake","disabled":false,"info":""},{"id":"765ef360.6f2c2c","type":"tab","label":"Rhasspy Text to Speech","disabled":false,"info":""},{"id":"be111083.116b5","type":"websocket-client","path":"ws://192.168.1.57:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"13bb27da.a15648","type":"websocket-client","path":"ws://192.168.1.57:12101/api/events/wake","tls":"","wholemsg":"true"},{"id":"d7f94fdd.9b5028","type":"debug","z":"70d90eed.9fc7e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":200,"wires":[]},{"id":"d60f2a3e.ec485","type":"websocket in","z":"70d90eed.9fc7e8","name":"","server":"","client":"be111083.116b5","x":200,"y":60,"wires":[["d7f94fdd.9b5028"]]},{"id":"33ac0d1e.2f1b1a","type":"debug","z":"70124295.5e68f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":200,"wires":[]},{"id":"d46737be.d4eb28","type":"websocket in","z":"70124295.5e68f4","name":"","server":"","client":"13bb27da.a15648","x":200,"y":80,"wires":[["33ac0d1e.2f1b1a"]]},{"id":"72e0cae1.8d7644","type":"http request","z":"765ef360.6f2c2c","name":"http://localhost:12101/api/text-to-speech","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","x":240,"y":180,"wires":[[]]},{"id":"7ebdab96.406734","type":"inject","z":"765ef360.6f2c2c","name":"Welcome to the world of offline voice assistants.","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Welcome to the world of offline voice assistants.","payloadType":"str","x":220,"y":80,"wires":[["72e0cae1.8d7644"]]}]